<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="albumi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <albumi.Properties.Settings>
            <setting name="initDir" serializeAs="String">
                <value />
            </setting>
            <setting name="initPto" serializeAs="String">
                <value />
            </setting>
            <setting name="huginPath" serializeAs="String">
                <value />
            </setting>
            <setting name="imageMagicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="krpanotoolsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="watermark" serializeAs="String">
                <value />
            </setting>
            <setting name="track" serializeAs="String">
                <value />
            </setting>
            <setting name="lastId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wbcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pitchcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ekscheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="panowb" serializeAs="String">
                <value />
            </setting>
            <setting name="panoeks" serializeAs="String">
                <value />
            </setting>
            <setting name="krpanotoolsMobile" serializeAs="String">
                <value />
            </setting>
        </albumi.Properties.Settings>
    </userSettings>
</configuration>